<footer class="page-footer rodape font-small pt-4 bg-secondary">

<div class="container">
    
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center text-white">
          <h5>Entre em contato</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                   <a href="https://www.linkedin.com/in/kaique-mota-424ab5214/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                   </a>
                </li>
                 
                <li>
                    <a href="https://github.com/kaique-mota" target="_blank" class="icoLinkedin">
                     <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                 
                <li>
                    <a href="http://api.whatsapp.com/send?phone=5511950372970" target="_blank" class="icoLinkedin">
                     <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright direitos text-center py-3">
  <span class="text-light">
    © 2021 Todos os direitos reservados Kaique Mota  
  </span>

</div>

</footer>
